Package: quiver-lite
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Aditya Kulkarni <zcash@adityapk.com>
Description: Quiver-Lite is a lightclient UI wallet for Arrow.
 Quiver-Lite is a lightclient UI wallet for Arrow. It comes with
 full support for shielded addresses, transparent addresses and memos for Arrow.
